
.jobexp {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1.5rem;
    list-style: none;
}

.jobexp li 
{
    margin-bottom: 1rem;
}

.jobexp li .period {
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.jobexp li .period::before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    padding-right: 1rem;    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/calendar.png);
}